//config/exchangeApi.js.example
module.exports = {
    okx: {
        apiKey: '',
        secret: '',
        passphrase: ''
    },
    binance: {
        apiKey: '',
        secret: ''
    },
}